@page
@model WebApp.Views.Home._Login

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />

<html>
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h3>You need to login though.</h3>
    <button id="btn_anonLogin">Anonymous Login</button>
</div>
</body>
</html>