@page
@using ThirtyDayHero.CharacterClasses
@model WebApp.Views.Home.Index

@{
    Layout = "_Layout";

    ICharacterActor actor = ClassUtil.CreatePlayerCharacter(1, 1, "Dobby", PlayerCharacterClassDefinitions.SOLDIER, 3);
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="container">
        @{
            if (ViewBag.User == null)
            {
                <p>Unable to connect to Firebase.</p>
            }
            else
            {
                <p>Logged in as <em>@ViewBag.UserName</em></p>
            }
        }
    </div>
    <vc:character-sheet-full actor="@actor" />
</div>
</body>
</html>