@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thirty Day Hero</h1>
    <p>The Kingdom of Delavon is in peril.</p>
    <p>The Great Calamity is coming, and you only have 30 days to prepare. Can your ragtag group of adventurers become the heroes this land needs before time is up?</p>
</div>