@using SadPumpkin.Games.ThirtyDayHero.BlazorApp.States

<h3>Exception: State Page Not Implemented</h3>
<p>BlazorState of type "@BlazorState.GetType().Name" had no defined RenderType value.</p>

@code {

    [Parameter]
    public BlazorState BlazorState { get; set; }

}