@using BlazorApp.Data
@using Radzen;

<h2>Login or Create an Account to Play</h2>

<!-- Login -->
<div Style="float: left;width: 450px">
    <LoginCard/>
</div>

<!-- Register -->
<div Style="float: left;width: 450px">
    <RegisterCard/>
    <TempRegisterCard/>
</div>

@code {
    
}
