@using Firebase.Auth
@using Radzen;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Thirty Day Hero</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
</head>
<body>
<partial name="~/Views/Shared/_Header.cshtml" view-data="ViewData" />
<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Sad Pumpkin Games
    </div>
</footer>

<script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-storage.js"></script>
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyDHcCjJupg3v6rLAkwFcPuatQyamVVuE9M",
      authDomain: "thirty-day-hero.firebaseapp.com",
      databaseURL: "https://thirty-day-hero.firebaseio.com",
      projectId: "thirty-day-hero",
      storageBucket: "thirty-day-hero.appspot.com",
      messagingSenderId: "136897095518",
      appId: "1:136897095518:web:1485da0a62002957d311cf",
      measurementId: "G-CWQES864JZ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
@RenderSection("Scripts", required: false)
</body>
</html>