@using SadPumpkin.Util.CombatEngine.Actor

<div Style="width: 100%;border: 2px solid black;flex-direction: row;display: flex;justify-content: stretch;@(_style)">
    <b>@InitPair.Entity.Name</b>
    <p>(@Math.Round(InitPair.Initiative))</p>
</div>

@code
{
    [Parameter]
    public IInitiativePair InitPair { get; set; }

    [Parameter]
    public bool IsPlayer { get; set; }

    private string _style = string.Empty;

    protected override void OnInitialized()
    {
        _style += IsPlayer ? "background-color: lightgreen" : "background-color: lightcoral";
    }
}