@using SadPumpkin.Util.CombatEngine.Actor

<div Style=@GetStyle()>
    <b>@InitPair.Entity.Name</b> - @Math.Round(InitPair.Initiative)
    <p>Speed: @Math.Round(InitPair.Entity.GetInitiative())</p>
</div>

@code
{
    [Parameter]
    public IInitiativePair InitPair { get; set; }

    [Parameter]
    public bool IsPlayer { get; set; }

    private string _style = string.Empty;

    private string GetStyle()
    {
        return $"border: 2px solid black;flex-direction: row;{(IsPlayer ? "background-color: lightgreen" : "background-color: lightcoral")}";
    }
}