@using SadPumpkin.Games.ThirtyDayHero.BlazorApp.States

@inject IStateMachine StateMachine;
@inject IContext Context;

<div style="display: flex;justify-content: space-between;background-color: darkgray">
    <div style="float: left">
        <b>Gold: </b>@_party.Gold
    </div>
    <div style="float: right">
        <b>Days Remaining: </b>@(30-_party.Day)
    </div>
    <div style="float: right">
        <b>Time: </b>@_party.Time.ToString()
    </div>
</div>

@code 
{
    private PartyDataWrapper _party;

    protected override void OnInitialized()
    {
        _party = Context.Get<PartyDataWrapper>();
        base.OnInitialized();
    }
}