@using SadPumpkin.Games.ThirtyDayHero.BlazorApp.Shared.AccountViews
@using SadPumpkin.Games.ThirtyDayHero.BlazorApp.States

@inject NavigationManager NavigationManager;
@inject DialogService DialogService;
@inject FirebaseWrapper FbWrapper;
@inject IContext StateContainer;
@inject IStateMachine StateMachine;

@if (FbWrapper.IsLoggedIn)
{
    <RadzenButton 
        Style="float: right"
        Text="Sign Out"
        Click="@SignOut"/>

    if (FbWrapper.IsAnonymous)
    {
        <RadzenButton 
            Style="float: right"
            Text="Create Account"
            Click="@PromoteAccount"/>
    }

    <h3 Style="float: right">@FbWrapper.UserName</h3>
}
else
{
    <em Style="float: right">Not logged in</em>
}

@code 
{
    private async void PromoteAccount(MouseEventArgs args)
    {
        await DialogService.OpenAsync<PromoteTempCard>(string.Empty);
    }

    private async void SignOut(MouseEventArgs args)
    {
        await FbWrapper.SignOut();
        StateContainer.Clear<PlayerDataWrapper>();
        StateContainer.Clear<PartyDataWrapper>();

        StateMachine.ChangeState<LoginState>();
        
        NavigationManager.NavigateTo("/", true);
    }

}