@inherits LayoutComponentBase

<!-- These need to be triggered here in order to enabled the Radzen services later. -->
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="main">
    <div class="top-row" style="display: flex;justify-content: space-between">
        <h1 style="float: left">Thirty Day Hero</h1>
        <div style="float: right">
            <HeaderBarContent/>
        </div>
    </div>
    <div class="content px-2">
        @Body
    </div>
</div>