@using BlazorApp.Data
@using Radzen;

@inject StateContainer StateContainer;
@inject NotificationService NotificationService;
@inject NavigationManager NavigationManager;

<RadzenCard>
    <h3>Register</h3>
    <RadzenLogin
        UserRequired="true"
        UserText="Email"
        AllowRegister="false"
        AllowResetPassword="false"
        Login="@Register"
        LoginText="Register"/>
</RadzenCard>

@code {
    private FirebaseWrapper _fbWrapper = null;

    protected override void OnInitialized()
    {
        _fbWrapper = StateContainer.Get<FirebaseWrapper>();
    }

    private async void Register(LoginArgs args)
    {
        var result = await _fbWrapper.TryCreateAccount(args.Username, args.Username, args.Password);
        if (result.successful)
        {
            PlayerDataWrapper playerDataWrapper = new PlayerDataWrapper(Guid.Empty, new Guid[0]);

            await _fbWrapper.WriteData(playerDataWrapper.GetDataPath(_fbWrapper.UserInfo.Uid), playerDataWrapper);

            StateContainer.Set(playerDataWrapper);

            NotificationService.Notify(new NotificationMessage()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Success",
                Detail = result.message,
                Duration = 1000
            });

            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            NotificationService.Notify(new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = result.message,
                Duration = 1000
            });
        }
    }

}