@using BlazorApp.Data
@using Radzen;

@inject StateContainer StateContainer;
@inject NotificationService NotificationService;
@inject NavigationManager NavigationManager;

<RadzenCard>
    <h3>Temporary Account</h3>
    <RadzenButton
        Text="Play"
        Click="@AnonRegister"/>
    <em>A temporary account will allow you to play, but your progress will not be saved unless you register.</em>
</RadzenCard>

@code {
    private FirebaseWrapper _fbWrapper = null;

    protected override void OnInitialized()
    {
        _fbWrapper = StateContainer.Get<FirebaseWrapper>();
    }

    private async void AnonRegister(MouseEventArgs args)
    {
        var result = await _fbWrapper.TryCreateAnon();
        if (result.successful)
        {
            PlayerDataWrapper playerDataWrapper = new PlayerDataWrapper(Guid.Empty, new Guid[0]);

            await _fbWrapper.WriteData(playerDataWrapper.GetDataPath(_fbWrapper.UserInfo.Uid), playerDataWrapper);

            StateContainer.Set(playerDataWrapper);

            NotificationService.Notify(new NotificationMessage()
            {
                Severity = NotificationSeverity.Success,
                Summary = "Success",
                Detail = result.message,
                Duration = 1000
            });

            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            NotificationService.Notify(new NotificationMessage()
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = result.message,
                Duration = 1000
            });
        }
    }

}