<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <httpRuntime  />
        <sessionState mode="InProc" cookieless="AutoDetect" compressionEnabled="true" />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
